modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [200]
      preferred_ip_protocol: "ip4"
      method: GET
      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: false
