services:
  fluent-bit-01:
    container_name: fluent-bit-01
    image: fluent/fluent-bit
    ports:
      - 24224:24224
      - 2021:2021
    volumes:
      - ./fluent-bit.yaml:/fluent-bit/etc/fluent-bit.yaml
      - ./scripts/append_tag.lua:/scripts/append_tag.lua
    restart: unless-stopped
    command: -c /fluent-bit/etc/fluent-bit.yaml
  webserver-01:
    container_name: dummy_webserver-01
    image: nginx:1.29.3
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    logging:
      driver: fluentd
      options:
        fluentd-address: "192.168.10.42:24224"
        fluentd-async: "true"
        tag: nginx
  webserver-02:
    container_name: dummy_webserver-02
    image: nginx:1.29.3
    ports:
      -  81:80
      - 444:443
    restart: unless-stopped
    logging:
      driver: fluentd
      options:
        fluentd-address: "192.168.10.42:24224"
        fluentd-async: "true"
        tag: nginx
  dummy-caller:
    container_name: dummy_caller
    image: debian:trixie-slim
    restart: unless-stopped
    command: /bin/bash -c 'apt update && apt install -y curl && while true; do curl http://webserver-01:80; curl http://webserver-02:80; curl -X POST http://192.168.10.42:9090/-/reload; curl -X POST http://192.168.10.42:9115/-/reload; sleep 3; done'
